project:
  type: website
  output-dir: docs

website:
  title: "research"
  navbar:
    left:
      - href: 'http://euclid.nmu.edu/~joshthom'
        text: Home

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



